.loginForm {
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5em 15em;
    padding: 1em;
    
    label {
        width: 90%;
        text-align: start;

        .inputLabel {
            font-size: 1.25em;
            font-weight: 600;
            padding-left: 0.5em;
        }
    };

    
    label input {
        margin: 0.5em;
        width: 90%;
        font-size: 1.2em;
        font-weight: 300;
    }

    .error {
        color: #ff0000;
        margin-left: .75em;
    }
}
